@media only screen and (min-width: 1024px) {
    .design-items-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .center-section {
        grid-column: span 1;
    }

}


header,nav,main,footer {
    max-width: 75rem;/* 1200px */
    margin:0 auto;
}