body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: bisque;
}

h1 {
  text-align: center;
}

img {
  display: block;
  border: 2px solid black;
  margin: 20px auto;
}


/* blur placeholder */
img[data-src] {
  filter: blur(.5rem);
}

img {
  filter: blur(0rem);
  transition: filter 0.5s
}