/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    /* header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    } */

    

    nav ul li a {
        padding: 0.4rem .9rem;
    }

/*----------- BODY --------------*/


/*----------- HEADER --------------*/

header h1 {
    margin-top: 1rem;
    margin-bottom: .6rem;
    color: #FEFEFE;
    font-size: 2rem;
}

header h2 {
    margin: 0;
    color: #4F0540;
    font-size: 1.5rem;
}


/*----------- NAVIGATION --------------*/

.active {
    margin-left: 20px;
}

/*----------- MAIN --------------*/
main h2 {
    font-size: 1.1rem;
    margin-left: 0.5rem;
}

main h2, p, img {
    margin-left: 0.5rem;
}

main div {
    margin-bottom: 0.5rem;
    /* border:1px solid #0196ED; */
    padding: 0.2rem;
    /* background-color: #E3E4E5; */
}

/* .event,
.spotlight1,
.current-weather,
.spotlight2 {
    width: 350px;
    height:300px;
} */



.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    justify-content: center;
    border: none;
}

.home-grid div {
    margin: 0.2rem;
    padding: 0.2rem;
}

.event {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.hero-image {
    grid-column: 3 / 9;
    grid-row: 1 / 3;
    position: relative;
} 

/* .hero-image img { */
    /* height: 1000px; */
/* } */


/* .optional-image {
    grid-column: 3 / 9;
    grid-row: 3 / 4;
} */

.spotlight1 {
    grid-column: 9 / 11;
    grid-row: 1 / 2;
} 

.current-weather {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
} 

.spotlight2 {
    grid-column: 9 / 11;
    grid-row: 2 / 3;
}

.join {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.news-release {
    grid-column: 3 / 11;
    grid-row: 3 / 4;
}

/* css for the information inside the hero banner image */
.information {
    position: absolute;
    top: 80px;
    right: 180px;
    border: 1px solid #0196ED;
    padding: 1rem;
}

.information button {
    text-align: center;
    margin-left:85px;
    padding: 0.8rem;
    border-radius: 6px;

}

.call-to-action {
    position: absolute;
    top: 10px;
    left: 5px;
    color:#FEFEFE;
}



/*----- DISCOVER PAGE SPECIFIC STYLES --------------*/

.discover-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.2em;
    justify-content: center;
    border: none;
}

.discover-first-image {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
}

.discover-second-image {
    grid-column: 5 / 9;
    grid-row: 1 / 3;
}

.top-left-side-information {
    grid-column: 9 / 11;
    grid-row: 1 / 2;
    height: 300px;
}

.discover-third-image {
    grid-column: 3 / 7;
    grid-row: 3 / 6;
}

.middle-left-side-information {
    grid-column: 9 / 11;
    grid-row: 3 / 4;
    height: 300px;
}

.discover-fourth-image {
    grid-column: 1 / 5;
    grid-row: 6 / 8;
}

.discover-fifth-image {
    grid-column: 5 / 9;
    grid-row: 6 / 8;
}

.bottom-left-side-information {
    grid-column: 9 / 11;
    grid-row: 6 / 7;
    height: 300px;
}

/*-----END OF DISCOVER PAGE SPECIFIC STYLES --------------*/


/*-----JOIN PAGE SPECIFIC STYLES --------------*/
.join-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    justify-content: center;
    border: none;
}

.form-information {
    grid-column: 1/4;
    grid-row: 1/6;
}

.join-news {
    grid-column: 4/5;
    grid-row: 1/2;
}

.NP-membership {
    grid-column: 4/5;
    grid-row: 2/3;
}

.bronze-membership {
    grid-column: 4/5;
    grid-row: 3/4;
}

.silver-membership {
    grid-column: 4/5;
    grid-row: 4/5;
}

.gold-membership{
    grid-column: 4/5;
    grid-row: 5/6;
}

.membership-card {
    display: block;
}

/* form styles */

form label.sbs {
	padding:.4rem 0;
}

/*-----END OF JOIN PAGE SPECIFIC STYLES --------------*/



/*----------- FOOTER --------------*/

footer p {
    font-size:1rem;
}


    
} /* end of media query */