/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


:root {
    /* colors for the palette */
    --primary-color: #E3E4E5;
    --secondary-color: #4FD0E0;
    --accent1-color: #4F0540;
    --accent2-color: #0286B4;
}

/*----------- BODY --------------*/
body {
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    background-color:#FEFEFE;
    line-height: 1.4;
}


/*----------- HEADER --------------*/
header {
    background-color: #4FD0E0;
}

.header-grid {
    padding: .5rem 2%;
    background-color: #4FD0E0;
    display: grid;
    grid-template-columns: 130px auto auto;
}

header div {
    margin-left: 5px
}

.top-date {
    font-size: 0.9rem;
    grid-column:span 2;
    text-align: center;
    margin-bottom: -1.3rem;
    color: #FEFEFE;
}

h1,h2,h3,h4 {
    font-family: 'Roboto', sans-serif;
} 

header h1 {
    font-size:1.5rem;
    margin-bottom: .6rem;
    color: #FEFEFE;
}

header h2 {
    font-size: 1rem;
    margin: 0; 
    color: #4F0540;
}

header p {
    font-size: 1rem;
    margin-bottom: .6rem;
    color: #FEFEFE;
}

.logo {
    width: 130px;
}

#display-message {
    text-align:center;
    color: #4F0540;
    font-weight: bold;
    padding: 0.1rem;
    margin-top: 0;
    margin-bottom: 0;
}

.hide-me {
    display: none;
}

.show-me {
    display: block;
}

/*----------- NAVIGATION --------------*/

nav {
    background-color: #768F9C;
    box-shadow: 0 0 20px #777;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #FEFEFE;
    padding: .5rem 0;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
	cursor: pointer;
}

.light-word {
    color: #FEFEFE;
}

nav ul li a:hover {
    background-color: #4FD0E0;
    color: #FEFEFE;
}

.active {
    color: #FEFEFE;
    background-color: #4F0540;
    margin-left:20px;
}

/*----------- code for the toggle menu--------------*/
nav button {
    margin: 0.2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #4F0540;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#humburgerBtn span:nth-child(1) {
    display: block;
}

#humburgerBtn span:nth-child(2) {
    display: none;
}


#humburgerBtn.open span:nth-child(1) {
    display: none;
}

#humburgerBtn.open span:nth-child(2) {
    display: block;
}

/*----------- MAIN --------------*/

main {
    padding: 0 2%;
    min-height: 10rem;
    
}

main h1 {
    margin-bottom: .1rem;
    font-weight: bold;
    color: #4F0540;
}

main h2 {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    color:#4F0540;
    background-color: #4FD0E0;
    padding:10px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

main p {
    font-size: 1rem;
} 

main div {
    margin-bottom: 0.5rem;
    /* border:1px solid #0196ED; */
    padding: 0.2rem;
    /* background-color: #E3E4E5; */
}

main figure img {
    width: 100%;
    height: auto;
    margin-left: 0;
}

main figure {
    width: 100%;
    margin: 0;
}

/* grid related css for the main section */
.home-grid {
    display: block;
}

.hero-image {
    position: relative;
}

.join {
    display:none;
}

.home-grid div {
    margin: 0.2rem;
    padding: 0.2rem;
}

.news-release {
    background-color: #E3E4E5;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.spotlight1 {
    background-color: #E3E4E5;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
    text-align: center;
}

.spotlight1 img {
    border-radius: 20px;
}

.spotlight2 {
    background-color: #E3E4E5;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
    text-align: center;
}

.join {
    background-color: #E3E4E5;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
    text-align: center;
}

.event {
    background-color: #E3E4E5;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
    text-align: center;
}


.optional-image {
    display:none;
}


/* css for the information inside the hero banner image */
main h2, p, img {
    margin-left: 0.5rem;
}

.information {
    position: absolute;
    top: 60px;
    right: 25px;
    border: 1px solid #0196ED;
    padding: 0.1rem;
    color: #FEFEFE;
}

.information button {
    text-align: center;
    margin-left: 85px;
    padding: 0.2rem;
    border-radius: 6px;
}

.call-to-action {
    position: absolute;
    top: 10px;
    left: 5px;
    color: #FEFEFE;
}

.hero-image img {
    width: 100%;
    height: auto;
    margin-left: 0;
}


/* Responsive image design css styles */

picture.photoA {
    display: block;
    width: 98%;
    margin: 0 1%;
}

main picture.photoA img {
    width: 100%;
}

/* weather content styles */
.current-weather {
    font-weight: bold;
    background-color: #E3E4E5;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
    text-align: center;
}

.current-weather h3 {
    font-size: 1.5rem;
}

.weather-top-information {
    display: flex;
    justify-content: space-evenly;
    
}

/* font awesome styling */

.weather-icon {
    font-size: 5rem;
    color:#4FD0E0;
}


/*----------- FOOTER --------------*/

footer {
    padding: .5rem 2%;
    background-color: #4FD0E0;   
}

footer p {
   font-size: .8rem;
}

.footerGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLogo {
    width: 130px;
}

.footerAddress {
   text-align: center;
   margin-top: .2rem;
}

.leftInformation {
    margin-top: 1.5rem;
    text-align: center;
} 

.copyRightInformation {
    color: #FEFEFE;
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: center;
}

footer div {
    margin-top: .6rem;
    margin-left: 2.2rem;
}

footer p {
    margin-bottom:-10px;
}

.leftInformation a {
    text-decoration: none;
    color:#333;
    display: block;
}

.leftInformation a:hover {
    text-decoration: underline;

}

.mapLink {
    margin-top:3rem;
    /* margin-left:18.5rem; */
}



/*----- DISCOVER PAGE SPECIFIC STYLES --------------*/

.discover-heading {
    margin-bottom: 1rem;
}


.top-information {
    display: block;
    width: 100%;
    background-color: #E3E4E5;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-top: -1rem;
}

.discover-grid {
    display: block;
    background-color: #E3E4E5;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.discover-image img {
    width: 100%;
    height: auto;
    margin-left: 0;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.discover-image figcaption {
    font-size: 1rem;
    text-align: center;
    color: #4F0540;
    font-style: italic;
}

.top-left-side-information {
    text-align: left;
    padding: 0.2rem;
    border-radius: 6px;
}

.middle-left-side-information {
    text-align: left;
    padding: 0.2rem;
    border-radius: 6px;
}


.bottom-left-side-information {
    text-align: left;
    padding: 0.2rem;
    border-radius: 6px;
}

/* blur placeholder */
img[data-src] {
    filter: blur(.3rem);
}

img {
    filter: blur(0rem);
    transition: filter 0.5s
}


.display-last-visit-message {
    font-size: 0.8rem;
    text-align: center;
    color: #4F0540;
    font-weight: bold;
    padding: 0.1rem;
    margin-top: 0;
    margin-bottom: 0;
}


/*-----END OF DISCOVER PAGE SPECIFIC STYLES --------------*/