/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header {
    box-shadow: 0 0 20px #777;
}
header h1 {
        letter-spacing: 0.2rem;
}


/*----------- NAVIGATION --------------*/

    nav ul {
        display: flex;
        margin-left: 2%;
    }


    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/
main h1 {
    letter-spacing: 0.2rem;
}


/*----------- FOOTER --------------*/
footer {
    box-shadow: 0 0 20px #777;
}
    
} /* end of media query */